*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Segoe UI',sans-serif;
}

body{
  color:#e5e7eb;
  line-height:1.7;
  overflow-x:hidden;
}

/* Canvas BG */
#bg{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:-1;
  background:linear-gradient(120deg,#020617,#1e3a8a,#020617);
}

/* HERO */
.hero{
  min-height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
}

.hero-img{
  width:180px;
  height:180px;
  object-fit:cover;
  border-radius:50%;
  border:4px solid #38bdf8;
  margin-bottom:20px;
}

.hero h1{font-size:34px;}
.hero p{color:#94a3b8;margin-bottom:25px;}

/* Social */
.hero-social{display:flex;gap:20px;}
.hero-social a{
  width:55px;height:55px;
  display:flex;align-items:center;justify-content:center;
  border-radius:50%;
  font-size:24px;color:#fff;
  transition:.4s;text-decoration:none;
}
.ig{background:linear-gradient(135deg,#f58529,#dd2a7b,#8134af);}
.fb{background:#1877f2;}
.hero-social a:hover{
  transform:translateY(-8px) scale(1.1);
}

/* Section */
section{
  max-width:900px;
  margin:auto;
  padding:80px 20px;
}
h2{color:#38bdf8;margin-bottom:20px;}

/* Skills */
.skills{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(120px,1fr));
  gap:15px;
}
.skills span{
  background:#1e293b;
  padding:14px;
  border-radius:10px;
  text-align:center;
  transition:.3s;
}
.skills span:hover{
  background:#38bdf8;color:#020617;
}

/* Card */
.card{
  background:#1e293b;
  padding:25px;
  border-radius:14px;
  margin-bottom:25px;
  transition:.4s;
}
.card:hover{
  transform:translateY(-6px);
  border:1px solid #38bdf8;
}

/* Contact & Footer */
.contact{text-align:center;}
footer{text-align:center;padding:25px;color:#64748b;}

/* Animasi Muncul */
.animate{opacity:0;animation:show 1s ease forwards;}
.fade-up{transform:translateY(30px);}
.fade-down{transform:translateY(-30px);}
@keyframes show{
  to{opacity:1;transform:translateY(0);}
}